#cn
{
  position: relative;
  left: 50px;
  top: -25px;
  font-size: 30px;
}
.ccn
{
  background-color: burlywood;
}
#tb
{
  background-color: #E2D1C3;
}
#ac
{
  background-color: oldlace;
}
#yes
{
  position: relative;
  left: 150px;

}
