<div class="div1">
  <form [formGroup]="searchForm">
    <mat-form-field id="input1">
      <input matInput placeholder="Search by Name" formControlName="fieldName">
    </mat-form-field>
  </form>

  <mat-card-content *ngIf="isValid; else showAllItems">
    <div *ngFor="let arr1 of filteredData; let d = index" class="card-container">
      <mat-card class="card">
        <ng-container *ngIf="arr1">
          <mat-card-header>
            <mat-card-title>
              {{ arr1.name }}
            </mat-card-title>
            <mat-card-subtitle>
              <p>Category: {{ arr1.category.cat }}</p>
              <p>Price: {{ arr1.price }}</p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content >
            <img [src]="arr1.url" alt="Product Image" height="180px" width="330px">
          </mat-card-content>
          <mat-card-actions>
            <button  class="like"  mat-button>LIKE</button>
            <button  class="share" mat-button>SHARE</button>
          </mat-card-actions>
        </ng-container>
      </mat-card>
    </div>
  </mat-card-content>

  <ng-template #showAllItems>
    <mat-card-content>
      <div *ngFor="let arr1 of formData; let d = index" class="card-container">
        <mat-card class="card">
          <ng-container *ngIf="arr1">
            <mat-card-header>
            <mat-card-title>
              {{ arr1.name }}
            </mat-card-title>
              <mat-card-subtitle>
                <p>Category: {{ arr1.category.cat }}</p>
                <p>Price: {{ arr1.price }}</p>
              </mat-card-subtitle>
            </mat-card-header>
            <button class="btnR"  mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
           <span class="fix" (click)="editProduct(product)">
            <mat-icon >edit</mat-icon>Edit
             </span>
              <mat-divider></mat-divider><mat-divider></mat-divider>
              <span class="fix" (click)="removeProduct(arr1)">
            <mat-icon >delete</mat-icon>Delete
            </span>
            </mat-menu>
<!--            <button mat-raised-button class="btnR" (click)=" removeProduct(arr1)">Delete</button>-->
<!--            <button mat-raised-button (click)="editProduct(product)">Edit</button>-->
<!--            <p>Price: {{ arr1.price }}</p>-->
<!--            <p>Category: {{ arr1.category.cat }}</p>-->
            <mat-card-content class="content">
              <img  [src]="arr1.url" alt="Product Image"  height="180px" width="330px">
            </mat-card-content>
            <mat-card-actions>
              <button class="like" mat-button>LIKE</button>
              <button class="share" mat-button>SHARE</button>
            </mat-card-actions>
          </ng-container>
        </mat-card>
      </div>
    </mat-card-content>
  </ng-template>
</div>

