.div1
{
  position: relative;
  left: 640px;
  top: -780px;
  width: 400px;
  height: 200px;
  /*background-color: lightskyblue;*/
  color: black;
}
/*.div2*/
/*{*/
/*  position: relative;*/
/*  left: 980px;*/
/*  top: -720px;*/
/*  width: 200px;*/
/*  height: 200px;*/
/*  !*background-color: lightskyblue;*!*/
/*  color: black;*/
/*}*/

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-name {
  margin-right: 10px;
}
.card
{
  position: relative;
  top: -20px;
  background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
  margin-bottom: 10px;
}
/*.card1*/
/*{*/
/*  position: relative;*/
/*  top: -20px;*/
/*  background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);*/
/*}*/
#sbtn
{
  position: relative;
  left: 280px;
  top: -30px;
}
#input1
{
  width: 400px;
  height: 80px;
}
#db
{
  position: relative;
  left: 200px;
}
.btnR
{
  width: 60px;
  position: relative;
  left: 300px;
  top: -105px;
  background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
}
.content
{
  position: relative;
  top: -20px;
}
.share
{
  position: relative;
  left: 210px;
}
.fix {
  display: flex;
  flex-direction: row;
  text-align: end;
  cursor: pointer;
  background-color: #E2D1C3;
}
.like
{
  position: relative;
  left: 5px;
}
