
<h2 mat-dialog-title>Edit Product</h2>

<form [formGroup]="editForm">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Product Name" formControlName="name" required>
    </mat-form-field> <br>

    <mat-form-field>
      <input matInput placeholder="Product Price" formControlName="price" required>
    </mat-form-field> <br>
    <mat-form-field>
      <input matInput formControlName="category" placeholder="Product Category">
    </mat-form-field><br>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button id="update"mat-button (click)="saveChanges()">Update</button>
    <button id="cancel" mat-button (click)="closeDialog()">Cancel</button>
  </mat-dialog-actions>
</form>

